@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Name</label>
        <input class="form-control" name="name" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Class</label>
        <input class="form-control" name="class" />
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-secondary" href="/Students">Cancel</a>
    </div>
</form>
