@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">

    <p><a class="btn btn-primary" href="/Students">Manage Students</a></p>
    <p><a class="btn btn-primary" href="/Courses">Manage Courses</a></p>
    <p><a class="btn btn-primary" href="/Registrations">Manage Registrations</a></p>
</div>
