<ul class="navbar-nav flex-grow-1">
    <li class="nav-item"><a class="nav-link text-dark" href="/">Trang chủ</a></li>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Sinh viên</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Student/Create">[1] Thêm Sinh viên</a></li>
            <li><a class="dropdown-item" href="/Student/Index">[3] Danh sách Sinh viên</a></li>
            <li><a class="dropdown-item" href="/Student/Details">[4] Chi tiết Sinh viên</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Khóa học</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Course/Create">[2] Thêm Khóa học</a></li>
            <li><a class="dropdown-item" href="/Course/Index">[5] Danh sách Khóa học</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Đăng ký học</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Registration/Register">[6] Đăng ký môn</a></li>
            <li><a class="dropdown-item" href="/Registration/Index">[8] Lịch sử / [7] Hủy</a></li>
        </ul>
    </li>
</ul>